body {
    margin: 0;
    padding: 0;
    font-family: exo 2;
    background-image: url(fondo.jpg);
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-color: #06060670;
}

header {
    background-color: rgb(29, 43, 72);
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inicio {
flex: 1;
width: 700px;
margin: 20px auto;
background: #ffffff80;
box-shadow: 0 0 20px rgba(220, 213, 213, 0.1);
border-radius: 1px;
}
#logo {
    color: white;
    font-size: 24px;
}

nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 7px;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s;
}

nav a:hover {
    color: rgb(37, 184, 150);
    
}

section {
    margin-top: 0px; /* Ajusta según la altura de tu barra de navegación */
    padding: 40px;
    background-color: rgba(180, 184, 239, 0.436);
    color: #131212fe;
    font-size: 20px;
    min-height: 600px; /* Ajusta según tus necesidades */
}

.container {
    max-width: 1200px;
    background-color: #06060670;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input, textarea {
    padding: 10px;
    margin-bottom: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

/* Estilos responsivos */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        margin-bottom: 10px;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        margin: 0 5px;
    }

    section {
        padding: 20px;
    }
}